<!DOCTYPE html>
<html>

{% include 'head.twig' %}

<body>
    {% include 'navigation.twig' %}
    <main>
        <div class="album-details-container">
            <div class="album-image-container">
                <img src="assets/album_covers/{{ album.cover_image }}" alt="{{ album.album_title }} Album Cover"
                    class="album-cover">
            </div>
            <div class="album-info-container">
                <div class="album-header">
                    <h1 class="album-title">{{ album.album_title }}</h1>
                    <span class="release-year">({{ album.release_year }})</span>
                </div>
                <div class="star-rating">
                    {{ rating_html | raw }}
                </div>
                <div class="tracklist-container">
                    <!-- Lists tracklist -->
                    <ol class="tracklist">
                        {% if tracks %}
                        {% for track in tracks %}
                        <li class="song-name">{{ track.song_title }}</li>
                        {% endfor %}
                        {% else %}
                        <!-- If tracks cant be loaded for some reason -->
                        <li>No tracks available</li>
                        {% endif %}
                    </ol>
                </div>
            </div>
            <div class="artist-genre-container">
                <div class="artist-info">
                    <div class="artist-image">
                        <img src="/assets/artists/{{ artist.artist_image }}">
                    </div>
                    
                    <h2 class="artist-name">{{ artist.artist_name }}</h2>
                </div>
                <div class="genre-container">
                    {% for genre in genres %}
                        <div class="genre-card">
                            {{ genre.name }}
                        </div>
                    {% endfor %}
                </div>
                
    
            </div>
        </div>
        <div class="reviews-container">
            <hr>
            <h1 class="review-heading">Reviews</h1>
            <form class="review-form" method="post" action="/submit_review.php">
                <label for="user-review">Leave a review:</label>
                <div class="review-rating">
                    <label for="star5" class="star">&#9734;</label>
                    <input type="radio" id="star5" name="rating" value="5" style="display: none;">
                    <label for="star4" class="star">&#9734;</label>
                    <input type="radio" id="star4" name="rating" value="4" style="display: none;">
                    <label for="star3" class="star">&#9734;</label>
                    <input type="radio" id="star3" name="rating" value="3" style="display: none;">
                    <label for="star2" class="star">&#9734;</label>
                    <input type="radio" id="star2" name="rating" value="2" style="display: none;">
                    <label for="star1" class="star">&#9734;</label>
                    <input type="radio" id="star1" name="rating" value="1" style="display: none;">
                  </div>
              <textarea id="user-review" name="review" placeholder="Write your thoughts..." required></textarea>
              <button type="submit">Submit</button>
            </form>
          </div>
          
    </main>

    {% include 'footer.twig' %}
</body>

</html>