<!DOCTYPE html>
<html>
    {% include 'head.twig' %}
<body>
    {% include 'navigation.twig' %}

    <main class="home">
        <div class="banner">
            <!-- <img src="/assets/banners/taylor-swift-red.jpg" alt="Banner" class="banner-image"> -->
        </div>
        <div class="album-recommendation">
            <h1>Today's Album Recommendation</h1>
            <div class="album-container">
                <div class="album-image">
                    <a href="/details.php?id={{ recommended_album.album_id }}">
                        <img src="assets/album_covers/{{ recommended_album.cover_image }}" alt="Album Cover">
                    </a>
                </div>
                
                <div class="album-info">
                    <h3 id="album-rec-name">
                        {{ recommended_album.album_title }}
                        <span id="album-rec-year">({{ recommended_album.release_year }})</span>
                    </h3>
                    <p id="artist-rec-name">{{ recommended_album.artist_name }}</p>
            
                    <ol class="tracklist">
                        {% if tracks %}
                          {% for track in tracks %}
                          <li class="song-name">{{ track.song_title }}</li>
                          {% endfor %}
                        {% else %}
                          <li>No tracks available</li>
                        {% endif %}
                      </ol>
                      
                    
                </div>
            </div>
            
        </div>
        <hr>
        <div class="top-albums">
            <h1>Top Rated</h1>
            <div class="container">
                <!-- <div class="row">
                    
                </div> -->
            </div>
        </div>
        <hr>
        <div class="browse-all">
            <h1>Find Something New</h1>
            <div class="container">
                <div class="row">
                    {{ album_cards | raw }}
                </div>
            </div>
        </div>
    </main>

    {% include 'footer.twig' %}
</body>

</html>